.banner-container {
    height: 100vh;
    width: 100%;
    background: url('/assets/banner.png') no-repeat left;
    background-size: cover;
    position: relative;
    /* background-position-y: center; */
}

.banner-container header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 32px;
}

.banner-container header img {
  width: 134px;
}

.banner-container header nav .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-shadow: 0 0 0 0 var(--preto), 0 0 0 0 var(--preto);
  transition: box-shadow 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 2;
  /* transition: background-color 0s; */
}

.banner-container header nav .hamburguer {
  position: relative;
  display: block;
  background: var(--cinza);
  width: 34px;
  height: 4px;
  /* top: 29px;
  left: 15px; */
  transition: 0.5s ease-in-out;
}

.banner-container header nav .hamburguer:before,
.banner-container header nav .hamburguer:after {
  background: var(--cinza);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.banner-container header nav .hamburguer:before {
  top: -14px;
}

.banner-container header nav .hamburguer:after {
  bottom: -14px;
}

.banner-container header nav input {
  display: none;
}

.banner-container header nav input:checked ~ label .menu {
  box-shadow: 0 0 0 130vw var(--preto), 0 0 0 130vh var(--preto);
  background-color: var(--preto);
}

.banner-container header nav input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

.banner-container header nav input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

.banner-container header nav input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

.banner-container header nav input:checked ~ ul {
  opacity: 1;
  display: initial;
}

.banner-container header nav ul {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  opacity: 0;
  transition: .25s ease-in-out;
  text-align: center;
  z-index: 2;
}

.banner-container header nav ul li {
  margin-bottom: 50px;
}

.banner-container header nav ul li a {
  font-size: 35px;
  color: var(--bege);
  text-decoration: none;
}

.banner-container .text-banner {
  position: absolute;
  right: 30px;
  bottom: 65px;
  text-align: center;
  width: 215px;
}

.banner-container .text-banner h1 {
  font-size: 38px;
}