main {
    width: 100%;
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .group-productus-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
    /* height: 100vh; */
    width: 60%;
    
}

main h1 {
    color: var(--bege);
    text-align: center;
}

main .product-container p {
    color: var(--preto);
}

main .product-container#ring {
    background: url("/assets/ring.png") no-repeat center;
}

main .product-container#watch {
    background: url("/assets/watch.png") no-repeat center;
}

main .product-container#necklace {
    background: url("/assets/necklace.png") no-repeat center;
}

main .product-container {
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 288px;
    width: 100%;
}


main .product-container button {
    width: 167px;
    height: 52px;

    background-color: var(--rose);
    /* border-radius: 8px; */
    border: 2px solid var(--bege);

    color: var(--preto);
    font-weight: bold;
    font-size: 16px;

    margin-top: 50px;

    transition: background-color 400ms;
    cursor: pointer;
}