main {
    width: 100%;
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .group-productus-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-bottom: 120px;
}

main h1 {
    color: var(--bege);
    text-align: center;
    margin-top: 76px;
    font-size: 40px;
}

main .group-productus-container .product-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 288px;
    width: 230px;
    margin-top: 65px;
    background-size: contain;
}

main .group-productus-container .product-container img {
    max-height: 100%;
    max-width: 100%;
}

main .group-productus-container .product-container p {
    position: absolute;
    top: 13px;
    color: var(--preto);
    font-size: 21px;
}

main .group-productus-container .product-container button {
    position: absolute;
    width: 167px;
    height: 52px;
    bottom: -32px;
    
    border: 2px solid var(--bege);
    background-color: var(--rose);
    color: var(--preto);

    font-size: 16px;
    cursor: pointer;
}